@tailwind base;
@tailwind components;
@tailwind utilities;

.title:empty:before {
    content: attr(data-placeholder);
}
.main-content:empty:before {
    content: attr(data-placeholder);
    color:#B2BEB5
}